@import url("./style.css");
@import url("./components/header.css");
@import url("./components/banner.css");
@import url("./components/footer.css");


/* -------------------- common questions */

.accordion {
    padding: 3rem 1.5rem;
    margin-inline: auto;
    max-width: 40.5rem;
}

.accordion__title {
    font-family: var(--font-secondary);
    line-height: 2.6rem;
    text-align: center;
    margin-bottom: 3rem;
}

.accordion__item {
    margin-bottom: .5rem;
}

.accordion__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    line-height: 2.35rem;
    background-color: var(--color-boreal-purple);
    padding: 1rem;
    cursor: pointer;
}

.accordion__icon {
    font-size: 2rem;
    line-height: 2rem;
    transition: transform 300ms ease-in-out;
}

.accordion__content {
    background-color: var(--color-light-blue);
    color: var(--color-gray);
    font-size: 1.25rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
}

.accordion__text {
    padding: 1rem;
}

.accordion__content.active {
    max-height: 100vh;
    transition: max-height 2s linear;
}

.underline {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .accordion {
        padding: 3rem 3.75rem;
    }

    .accordion__title {
        font-size: 3rem;
        line-height: 3.9rem;
    }
}
