.button {
    background-color: var(--color-boreal-purple);
    border-radius: 16px;
    box-shadow: 4px 4px 0px #444444;
    font-size: 1.25rem;
    line-height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .5rem 2.75rem;
}

.button__icon--card {
    font-size: 2rem;
}

@media (min-width: 768px) {
    .button {
        padding: .5rem 1rem;
    }
}