@import url("../style.css");

.card {
    line-height: 2.35rem;
    text-align: center;
    padding: 2rem 1.5rem;
    margin-inline: auto;
    max-width: 41rem;
}

.card__image {
    border-radius: 16px;
    object-fit: cover;
    margin-bottom: 1.5rem;
    max-width: 24rem;
    width: 100%;
}

.card__image--sectors {
    height: 15rem;
}

.card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.card__title {
    font-weight: 700;
    max-width: 24.5rem;
}

.card__title--sectors {
    max-width: none;
    margin-bottom: 1.5rem;
}

.card__title--sectors:first-child {
    margin-bottom: 2rem;
}


@media (min-width: 768px) {
    .card__image {
        max-width: none;
    }

    .card__title--sectors:first-child {
        font-size: 2.5rem;
    }

    .card__image--sectors {
        max-width: 24rem;
    }
}


@media (min-width: 1280px) {
    .card {
        display: flex;
        align-items: center;
        column-gap: 3rem;
        padding: 4rem 1.5rem;
        max-width: 75rem;
    }

    .card--experience:nth-of-type(3) {
        flex-direction: row-reverse;
    }

    .card--sectors {
        flex-direction: column;
        max-width: 75rem;
    }    

    .card__image {
        margin-bottom: 0;
        height: 24rem;
        width: 43.85vw;
        min-width: 18.75rem;
        max-width: 38rem;
    }

    .card__image--sectors {
        width: 100%;
        height: 15rem;
    }

    .card__info--experience {
        max-width: 33.75rem;
        align-items: flex-start;
        text-align: left;
    }

    .card__info--alternative {
        text-align: right;
        align-items: end;
    }

    .card__title--sectors:first-child {
        margin-bottom: 3rem;
    }    
}
